.hidden{
    display: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    margin-top: 1.5%;
    margin-left: 5%;
    margin-right: 10%;
    padding-top: 1.5%;
    padding-bottom: 1%;
    text-align: center;
    background-color: rgb(248, 248, 242);
    border: 5px solid rgb(67, 67, 78);
    border-radius: 30px;
}

main{
    margin-left: 3%;
    margin-right: 58%;
}
footer{
    margin-left: 3%;
    margin-right: 58%;
    padding-left: 2%;
    text-align: right;
}
#word{
    font-family: 'Luxurious Roman', cursive;
}
#bible{
    font-family: 'Luxurious Roman', cursive;
}

#clock{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-top: 2%;
    padding-bottom: 0;
    margin-top: 12%;
    margin-bottom: 2%;
    font-size: 700%;
    font-family: 'Fugaz One', cursive;
    text-align: center;
    color: white;
    border: 2px solid rgb(73, 72, 72);
    background-color: tomato;
}

.login{
    margin-top: 0;
    padding-bottom: 3%;
    text-align: center;
    background-color: rgb(124, 166, 245);
}

#input-login{
    width: 300px;
    height: 50px;
    background: transparent;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 4%;
    outline: none;
    text-align: center;
}

#greeting{
    padding-top: 3%;
    padding-bottom: 1.5%;
    margin-bottom: 0%;
    font-family: 'Lobster', cursive;
}

.todo{
    background-color: wheat;
    margin-top: 3%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    text-align: center;
    border: 2px solid black;
}

#todo-input{
    width: 300px;
    height: 50px;
    background:transparent;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    text-align: center;
    padding-top: 2%;
}

#todo-list{
    list-style: none;
    text-align: left;
    padding-left: 3%;
    margin-left: 20%;
    font-family: 'Gowun Dodum', sans-serif;
}

button{
    border: 0;
    outline: 0;
    background: transparent;
    text-align: left;
}

#weather{
    padding-top: 2%;
    padding-bottom: 2%;
}